<mat-toolbar class="toolbar-color py-5 mb-4" style="background-color: #673ab7">
  <span class="center">NOSOTROS</span>
</mat-toolbar>
<div class="container">
  <h3>HISTORIA</h3>
  <p>
    La Quesería de AZU nace como homenaje a los padres de la fundadora Azucena
    Rojas Carvajal. Don Albino Rojas quien fue uno de los primeros productores
    de queso en la vereda de la trinidad, y dejo a cada uno de sus hijos el arte
    de saber hacer, junto con su esposa Concepción Carvajal, quienes por más de
    50 años ejercieron esta actividad, sus hijos no dejaron perder la tradición
    y cada uno logro consolidar una empresa en el sector lácteo. Por esta razón
    se consolida en febrero de 2020 la quesería de AZU propiedad de la menor de
    sus hijas ubicada en el sector san Jorge Kilometro 4.5 vía Duitama- Paipa.
  </p>
</div>

<div class="container">
  <h3>MISIÓN</h3>
  <p>
    En la Quesería de Azu fabricamos productos lácteos de la más alta calidad,
    inocuos e innovadores a través de nuestro talento humano capacitado y
    maquinaria especializada a la medida y necesidades de nuestros clientes
    asegurando la sostenibilidad financiera.
  </p>
</div>

<div class="container">
  <h3>VISIÓN</h3>
  <p>
    En el 2025 estaremos ubicados dentro de las mejores empresas de queso a
    nivel nacional, con miras a la exportación a través de la constante
    innovación de productos y la excelencia en formación del talento humano y el
    manejo eficiente de los recursos.
  </p>
</div>

<div class="container">
  <h3>POLÍTICA</h3>
  <p>
    En la quesería de Azu, nos comprometemos a fabricar productos lácteos de la
    más alta calidad, inocuos e innovadores; rigiéndonos por el marco del
    cumplimiento legal aplicable caracterizándonos por la optimización de los
    procesos y garantizando la inocuidad de los productos para lograr la
    satisfacción de nuestros clientes, buscando el mejoramiento continuo a
    través de la selección de talento humano competente para ofrecer a nuestros
    clientes experiencias únicas e inolvidables.
  </p>
</div>

<div class="container">
  <h3>PRINCIPIOS</h3>
  <img class="img-responsive" src="assets/principios.PNG" alt="Chania" />
</div>

<div class="container">
  <h3>VALORES</h3>
  <img class="img-responsive" src="assets/compromisos.PNG" alt="Chania" />
</div>
<app-footer></app-footer>
