<div class="detail">
  <mat-toolbar
    class="toolbar-color py-5 mb-4"
    style="background-color: #673ab7"
  >
    <span class="center">{{ quesoDetail?.title }}</span>
  </mat-toolbar>
  <mat-card-actions style="display: flex; justify-content: center">
    <button mat-raised-button color="basic" routerLink="/catalogo">
      <span class="material-icons">arrow_back</span>volver al catalogo
    </button>
  </mat-card-actions>

  <div class="container">
    <div class="image-container">
      <img src="{{ quesoDetail?.url }}" alt="queso-image" />
    </div>
    <div class="content-container">
      <p>{{ quesoDetail?.content }}</p>
    </div>
  </div>
</div>

<app-footer></app-footer>
